#------------------------------------------------------------------------------
#-    Copyright (c) 2005  Meindert Kuipers, Netherlands                      --
#-    meindert@kuipers.to                www.kuipers.to                      --
#-                                                                           --
#- This program is free software; you can redistribute it and/or             --
#- modify it under the terms of the GNU General Public License               --
#- as published by the Free Software Foundation; either version 2            --
#- of the License, or (at your option) any later version.                    --
#-                                                                           --
#- This program is distributed in the hope that it will be useful,           --
#- but WITHOUT ANY WARRANTY; without even the implied warranty of            --
#- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the             --
#- GNU General Public License for more details.                              --
#-                                                                           --
#- You should have received a copy of the GNU General Public License         --
#- along with this program; if not, write to the Free Software               --
#- Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA--
#------------------------------------------------------------------------------

#------------------------------------------------------------------------------
#-             SmartROM.ucf                                                  --
#-  Ver  Date     Description                                                --
#-  1.00 Jun 2005 First full release, no code changes from Beta              --
#------------------------------------------------------------------------------
#PACE: Start of Constraints generated by PACE

#PACE: Start of PACE I/O Pin Assignments
NET "CLK01"  LOC = "P128"  ; 
NET "CLK02"  LOC = "P127"  ; 
NET "DATA"  LOC = "P1"  ; 
NET "DATA_OE"  LOC = "P140"  ; 
NET "DATA_out"  LOC = "P141"  ; 
NET "DSR_clk"  LOC = "P126"  ; 
NET "DSR_clk_out"  LOC = "P120"  ; 
NET "FI_OE"  LOC = "P138"  ; 
NET "FI_Out"  LOC = "P139"  ; 
NET "FLASH_CE"  LOC = "P55"  ; 
NET "FLASH_OE"  LOC = "P56"  ; 
NET "FLASH_WE"  LOC = "P39"  ; 
NET "ISA"  LOC = "P2"  ; 
NET "ISA_OE"  LOC = "P6"  ; 
NET "ISA_out"  LOC = "P5"  ; 
NET "MEM_RESET"  LOC = "P40"  ; 
NET "MLDL_DIS"  LOC = "P110"  ; 
NET "MLDL_SR"  LOC = "P112"  ; 
NET "OSR_clk"  LOC = "P125"  ; 
NET "OSR_clk_out"  LOC = "P122"  ; 
NET "PWO"  LOC = "P4"  ; 
NET "RY_BY"  LOC = "P41"  ; 
NET "SPARE0"  LOC = "P97"  ;
NET "SPARE1"  LOC = "P99"  ;
NET "SPARE2"  LOC = "p103"  ;
NET "SPARE3"  LOC = "p101"  ;
NET "SR_SET<0>"  LOC = "p106"  ; 
NET "SR_SET<1>"  LOC = "p107"  ; 
NET "SRAM_CE1"  LOC = "P82"  ; 
NET "SRAM_CE2"  LOC = "P28"  ; 
NET "SRAM_OE"  LOC = "P84"  ; 
NET "SRAM_WE"  LOC = "P27"  ; 
NET "SYNC"  LOC = "P7"  ; 
NET "SYNC_OE"  LOC = "P142"  ; 
NET "SYNC_out"  LOC = "P143"  ; 
NET "X_BSY"  LOC = "P94"  ; 
NET "X_CLK"  LOC = "P86"  ; 
NET "X_DAV"  LOC = "P92"  ; 
NET "X_DIN"  LOC = "P131"  ; 
NET "X_DOUT"  LOC = "P121"  ; 
NET "X_EN"  LOC = "P90"  ; 
NET "X_STROBE"  LOC = "P22"  ; 
NET "XA<0>"  LOC = "P54"  ; 
NET "XA<10>"  LOC = "P30"  ; 
NET "XA<11>"  LOC = "P31"  ; 
NET "XA<12>"  LOC = "P32"  ; 
NET "XA<13>"  LOC = "P34"  ; 
NET "XA<14>"  LOC = "P35"  ; 
NET "XA<15>"  LOC = "P36"  ; 
NET "XA<16>"  LOC = "P74"  ; 
NET "XA<17>"  LOC = "P43"  ; 
NET "XA<18>"  LOC = "P42"  ; 
NET "XA<19>"  LOC = "P38"  ; 
NET "XA<1>"  LOC = "P53"  ; 
NET "XA<2>"  LOC = "P49"  ; 
NET "XA<3>"  LOC = "P48"  ; 
NET "XA<4>"  LOC = "P47"  ; 
NET "XA<5>"  LOC = "P46"  ; 
NET "XA<6>"  LOC = "P45"  ; 
NET "XA<7>"  LOC = "P44"  ; 
NET "XA<8>"  LOC = "P37"  ; 
NET "XA<9>"  LOC = "P29"  ; 
NET "XD<0>"  LOC = "P60"  ; 
NET "XD<10>"  LOC = "p66"  ; 
NET "XD<11>"  LOC = "p68"  ; 
NET "XD<12>"  LOC = "p70"  ; 
NET "XD<13>"  LOC = "p72"  ; 
NET "XD<14>"  LOC = "p79"  ; 
NET "XD<15>"  LOC = "p77"  ; 
NET "XD<1>"  LOC = "P62"  ; 
NET "XD<2>"  LOC = "P65"  ; 
NET "XD<3>"  LOC = "P67"  ; 
NET "XD<4>"  LOC = "P69"  ; 
NET "XD<5>"  LOC = "P71"  ; 
NET "XD<6>"  LOC = "P80"  ; 
NET "XD<7>"  LOC = "P78"  ; 
NET "XD<8>"  LOC = "P61"  ; 
NET "XD<9>"  LOC = "P63"  ; 

#PACE: Start of PACE Area Constraints

#PACE: Start of PACE Prohibit Constraints

#PACE: End of Constraints generated by PACE
